BasedOnStyle: LLVM
AlignAfterOpenBracket: false
AlignArrayOfStructures: Left
AllowShortCaseExpressionOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: 100
IndentWidth: 4
RequiresClausePosition: WithPreceding
AlignOperands: DontAlign
ReflowComments: Never